div{
    background-color: blueviolet;
    color: white;
}
.div2{
    background-color: rgb(54, 7, 99);
    color: white;

}
#div2{
    background-color: rgb(99, 7, 76);
    color: white;

}
.hov:hover {
    background-color: deeppink;
    color: black;
}